<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EventEmitType" value="NamedPipes,StdOut,LogFile"/>
    <add key="EventFormat" value="json"/>
    <add key="EventsLogFile" value="C:\\logs\\TestMonitor.log"/>
    <add key="EventOutputStream" value="StdOut"/>
  </appSettings>
</configuration>